/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

html, body, #app, .theme-container {
  position: relative;
  width: 100% !important;
  height: 100vh;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 1.44;
  color: inherit;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

#app {
  .global-ui {
    position relative
    z-index 100
  }

  .home .hero img {
    max-height 220px
  }

  .content {
    img {
      max-width 100% !important
    }
  }

  code {
    overflow-wrap break-word

  }
}


body {
  font-weight lighter;
  font-family: "Cardo", "Times New Roman", Times, serif;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
}


//.page-edit {
//  background-color: $colorGray;
//}
//
//footer {
//  background-color: $colorGray;
//}
//
//.custom-page-bottom {
//  background-color: $colorGray;
//}

.icon.outbound {
  display: none;
}


.sidebar {
  font-style normal !important
}

.content__default {
  h1 {
    position: relative;
  }

  a {
    cursor pointer
    @media (min-width: $MQMobile) {
      color $colorFont
    }
  }


  @media (min-width: $MQMobile) {
    a {
      max-width 100%
      position: relative;
      display: inline-block;
      vertical-align bottom
    }

    a:after {
      content: "";
      position: absolute;
      top: 60%;
      left: -0.1em;
      right: -0.1em;
      bottom: 10%;
      transition: top 200ms cubic-bezier(0, 0.8, 0.13, 1);
      background-color: alpha($accentColor, 0.2);
    }

    a:hover {
      text-decoration: none !important;

      &:after {
        top: 10%;
      }
    }
  }
}

p
  margin-top: 1.2em;

blockquote
  box-shadow: inset 3px 0 0 0 rgba(0, 0, 0, 0.84);
  border-left: none;
  margin-top: 2em;
  font-style: italic;
  color: $colorInactive;
  font-size: 21px;
  padding-left: 23px;

@import '~prismjs/themes/prism-tomorrow.css'


.code-copy {
  position: absolute;
  top: 6px;
  //bottom 14px
  left: 6px;
  display: flex;
  flex-direction row
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 18px;
  cursor: pointer;
  font-size: 14px;
  padding: 0;
  border: none;
  border-radius: 4px;
  color: #ccc;
  background-color: hsla(0, 0%, 90.2%, .2);
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, .25);
  opacity: 0;
  visibility: visible;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: opacity .2s ease-in-out, visibility .2s ease-in-out;
  z-index: 1;

  span {
    background-color white
    position: fixed;
    top 20%
    left 50%
    transform translateX(-50%)
    font-size 16px !important
    //left 3rem
    line-height 50px
    height 50px
    bottom 0 !important
    width 120px
    text-align center
    color #3eaf7c
    font-weight bold
    border-radius 6px
    z-index: 1100;
    box-shadow: 0px 0px 15px 5px rgba(132, 132, 132, 0.4) !important;
    transition: top 200ms cubic-bezier(0, 0.8, 0.13, 1);
  }
}

.code-copy svg {
  position: relative;
  right 0 !important
  bottom 0 !important
  width 12px
  height 12px
  opacity: 1 !important
}

div[class*="language-"]:hover {
  .code-copy {
    opacity: 1 !important;
  }
}

//div[class*="language-"]
//  position: relative;
//  background-color: $colorFont;
//  border-radius: 6px;
//
.theme-default-content pre, .theme-default-content pre[class*="language-"] {
  //background white
  //line-height: 1.4;
  //padding: 1.25rem 1.5rem;
  //margin: 0.85rem 0;
  //background-color: $colorFont;
  //border-radius: 6px;
  //overflow: auto;
  //font-size 1rem;
  //letter-spacing 0.5px

  padding-top 1.5rem !important

  //  .token.atrule, .token.attr-value, .token.keyword {
  //    color: #e2777a;
  //  }
}

strong {
  font-weight: 900;
}

h1 a::after {
  display none
}


// Sidebar defaults to right at Blog Layout
.theme-container.layout-post {
  h1 a.header-anchor {
    padding-right 10px
  }

  .sidebar {
    //box-shadow: 0px 0px 15px 0px rgba(132, 132, 132, 0.2) !important;
    display flex
    align-items top
    margin-top 2rem

    .sidebar-group.depth-0 p {
      display none
    }

    a.sidebar-link.active {
      border-width 2px
      border-color $siderbarItemColor
      color: $siderbarItemColor!important;
    }


    a.sidebar-link:hover {
      color: $siderbarItemColor !important;
    }

    .sidebar-group a.sidebar-link {
      font-family "Cardo"
      padding-left: 1.2rem;
      color #333
      font-size 1em
    }
  }

  @media (min-width: $MQMobile) {
    .theme-default-content.content__default:not(.custom) > h1 {
      margin-top 3rem !important

      &:first-child {
        margin-top -1.5rem
        margin-bottom 1rem
      }
    }

    .sidebar {
      left auto
      right 0
    }

    .page {
      padding-left: 5rem
      padding-right 20rem
    }
  }

  @media (max-width: $MQMobile) {

    .theme-default-content:not(.custom) {
      padding-top 0 !important
    }

    .theme-default-content.content__default:not(.custom) > h1 {
      margin-top 0 !important
    }

    .theme-default-content div[class*="language-"] {
      border-radius: 6px !important
      margin 0 !important
    }

    .page {
      padding-top: 3rem !important
    }

  }
}


